h1 {
	margin-left: 50%;
	color: blue;
	font-size: 60px;
}

li{
	margin-left: 50%;
	display: inline-block;
}

img{
	margin-left: 20%;
}

h4{
	margin-left: 200px;
	font-size: 20px;
}

h5{
	margin-left: 200px;
	font-size: 20px;
}

h6{
	margin-left: 200px;
	font-size: 20px;
}

p{
	margin-left: 200px;
}